.profile-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.profile-links {
  display: flex;
}

.profile-links button {
  border: none;
  background: transparent;
  color: #706a72;
  font-family: "Asap", sans-serif;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  padding: 20px 22px;
  border-bottom: 3px solid transparent;
  transition: color 0.2s, border-color 0.2s;
}

.profile-links button:hover {
  color: #63384f;
}

.profile-links button.active {
  color: #63384f;
  border-bottom: 3px solid #63384f;
}

.logout {
  border: none;
  background: transparent;
  color: rgb(180, 54, 54);
  font-family: "Asap", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 16px 35px;
}

.logout:hover {
  text-decoration: none;
  color: rgb(197, 136, 136);

}

@media screen and (max-width: 650px) {
  .profile-nav {
    padding-right: 5px;
  }

  .profile-links button {
    padding: 16px 14px;
    font-size: 14px;
  }

  .logout {
    padding: 16px 15px;
  }
}
